{% extends 'blog/base.html' %}

{% block content %}

<div class="row">

{% include 'dashboards/sidebar.html' %}
<div class="col-md-9">
<h3>All Posts</h3>
<a href="{% url 'add_posts' %}" class="btn btn-dark text-light float-right mb-2">Add New</a>
    <table class="table table-hover">
        <thead>
          <tr>
            <th>Sl No</th>
            <th>Title</th>
            <th>Category</th>
            <th>Author</th>
            <th>Status</th>
            <th>Featured</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
            {% for i in posts %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.title}}</td>
            <td>{{i.category}}</td>
            <td>{{i.author}}</td>
            <td>{{i.status}}</td>
            <td>{% if i.is_featured %}<i class="fa fa-check text-success"></i>{% else %}<i class="fa fa-times text-danger"></i>{% endif %}</td>
            <td>
                <a href="{% url 'edit_posts' i.pk %}"><i class="fa fa-edit text-success"></i></a>
                &nbsp;
                <a href="{% url 'delete_posts' i.pk %}"><i class="fa fa-trash text-danger"></i></a>
            </td>
          </tr>
          {% endfor %}
          
        </tbody>
      </table>


</div>


</div>

{% endblock %}



